@mixin margem () {
    margin: 0 auto;
    width: 80%;
}

@mixin fontLato ($font-s, $color) {
    font-family: "Lato", sans-serif;
    font-size: $font-s;
    font-weight: 400;
    color: $color;
}

@mixin fontMontserrat ($font-s, $color) {
    font-family: "Montserrat", sans-serif;
    font-size: $font-s;
    font-weight: 400;
    color: $color;
}