$gradient-background: linear-gradient(0deg, rgba(57,62,70,1) 0%, rgba(34,40,49,1) 100%);
$gradient-background-card: linear-gradient(0deg, rgba(23, 26, 31, 0.726) 0%, rgba(19, 23, 29, 0.336) 100%);

$gradient-project: linear-gradient(0deg, rgba(57,62,70,1) 0%, rgb(54, 61, 71) 100%);


$cor-primaria: #FFD369;
$cor-secondaria: #393e46;
$cor-terciaria: #404349;
$preto: #252525;
$branco: rgb(238, 238, 238);
$branco2: #FFF;
